<div class="item-4" id="iitem{{ item.id }}">
    <a class="img-item-4" href="{{ item.get_absolute_url }}">
        <img class="img-item-4-img" src="/media/{{ item.image }}">
    </a>
    <div class="item-4-neck">
        <div class="info">
            <p>{{ item.name|truncatechars:11 }}</p>
            <p>Упаковка: {{ item.get_minimal_weight.size }}</p>
        </div>
        <div class="counter">
            <button onclick="decrement('item{{ item.id }}')">-</button>
            <input value="1" type="number" id="item{{ item.id }}">
            <button onclick="increment('item{{ item.id }}')">+</button>
        </div>
    </div>
    <div class="item-4-shoes">
        {% if item.is_action %}
            <div class="item-4-prices">
                <p class="price-detail">От {{ item.get_minimal_weight.price }} ₽</p>
                <p class="price-detail">От <span class="price-item-numeric">{{ item.calc_hot_price }}</span> ₽</p>
            </div>
        {% else %}
            <p class="price-detail">От <span class="price-item-numeric">{{ item.get_minimal_weight.price }}</span> ₽</p>
        {% endif %}
        <button onclick="AddToCartFromPage({{ item.id }})">В корзину</button>
    </div>
</div>