{% extends "main/base.html" %}
{% load static %}
{% block title %}{{ current_category.name }}{% endblock title %}
{% block content %}

{% include "main/components/header.html" with query="" %}
<main>
    <section class="section-name-category" id="home-section">
        <img src="/media/{{ current_category.image }}">
        <h1>{{ current_category.name }}</h1>
    </section>
    {% for undercat in undercats %}
        <section class="items-4-block">
            <div class="site-container to-center">
                <div class="content">
                    <div class="title-section">
                        <div class="stick"></div>
                        <h1>{{ undercat.name }}</h1>
                        <div class="stick"></div>
                    </div>
                    <div class="container-4">
                        {% for item in items %}
                            {% if item.under_category.name == undercat.name %}
                                {% include 'main/components/card-4.html' with item=item %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
</main>
{% include "main/components/footer.html" %}
{% endblock content %}