{% extends "main/base.html" %}
{% load static %}
{% block title %}Главная{% endblock title %}
{% block content %}

{% include "main/components/header.html" with query="" %}
<main>
    <section class="home-section" id="home-section">
        <div class="site-container">
            <img src="{% static 'main/images/mockups/хвосты.png' %}">
            <div class="ad-banner">
                <div class="horisontal-blocks">
                    <a class="ad-block" href="/items/ikra">
                        <div class="title-ad-block">
                            <p>Доставка икры</p>
                        </div>
                    </a>
                    <a class="ad-block" href="/items/polufabrikaty">
                        
                        <div class="title-ad-block">
                            <p>Готовая еда</p>
                        </div>
                    </a>
                </div>
                <a class="ad-block vertical" id="vertical-block" href="/items/konservy">
                    
                    <div class="title-ad-block">
                        <p>Консервы</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="section-hits-items">
        <div class="site-container to-center">
            <div class="content">
                <div class="title-section">
                    <div class="stick"></div>
                    <h1>Хиты</h1>
                    <div class="stick"></div>
                </div>
                <div class="container-6">
                    {% for item in popular_items %}
                        {% include 'main/components/card-6.html' with item=item %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="items-4-block">
        <div class="site-container to-center">
            <div class="content">
                <div class="title-section">
                    <div class="stick"></div>
                    <h1>Новинки</h1>
                    <div class="stick"></div>
                </div>
                <div class="container-4">
                    {% for item in items %}
                        {% include 'main/components/card-4.html' with item=item %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="hit-price-section">
        <div class="site-container to-center">
            <div class="content">
                <div class="title-section">
                    <div class="stick"></div>
                    <h1>Акции</h1>
                    <div class="stick"></div>
                </div>
                <div class="container-4">
                    {% for item in items_act %}
                        {% include 'main/components/card-4.html' with item=item %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% include "main/components/footer.html" %}
{% endblock content %}