{% extends "main/base.html" %}
{% load static %}
{% block title %}
    {% if items|length > 0 %}
        {{ query|capfirst }}
    {% else %}
        Ничего не найдено
    {% endif %}
{% endblock title %}
{% block content %}

{% include "main/components/header.html" with query=query|capfirst %}
<main>
    <section class="items-4-block" id="home-section">
        <div class="site-container to-center">
            <div class="content search-page">
                <div class="block-result-search">
                    {% if items|length > 0 %}
                        <h2>{{ query|capfirst }}</h2>
                        <p>{{ items|length }} товаров найдено</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="items-4-block">
        <div class="site-container to-center">
            <div class="content">
                {% if items|length > 0 %}
                    <div class="container-4">
                        {% for item in items %}
                            {% include 'main/components/card-4.html' with item=item %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="delivery-blocks not-found">
                        <div class="left-delivery-block big-ico-block">
                            <div class="content">
                                <img src="{% static 'main/images/mockups/no data.png' %}">
                                <h2>По запросу ничего не найдено</h2>
                                <p>Таких товаров не существует</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% include "main/components/footer.html" %}
{% endblock content %}